* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f6f6f6;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
}

.login-box img {
    width: 100px;
    margin-bottom: 20px;
}

.login-box h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.login-box form {
    margin-top: 20px;
}

.login-box label {
    display: block;
    margin-bottom: 5px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #333;
}
